<!DOCTYPE html>
<html>
  <header>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </header>
  <body>
    <div class="main-content">
      <!--Start of NavBar-->
      <nav
        class="navbar navbar-expand-lg"
        style="background-color: #aeecef"
      >
        <div class="container-fluid">
          <a
            class="navbar-brand"
            href="account-main-page"
            >Pet Community</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarColor01"
            aria-controls="navbarColor01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Navbar - Default -->
          <div
            class="collapse navbar-collapse"
            id="navbarColor01"
          >
            <ul class="navbar-nav ms-auto">
              <% for(var index = 0; index < user_account.length; index++){ %> <%
              if(user_account[index]['id'] == user_id &&
              user_account[index]['user_type'] != "Shelter"){ %>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="adoption-main-page"
                  >Adopt a pet</a
                >
              </li>
              <% } %> <% } %>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="donor-main-page"
                  >Find a Donor</a
                >
              </li>
              <!-- <li class="nav-item">
                <a
                  class="nav-link"
                  href="listapet-main-page"
                  >List a Pet for Adoption</a
                >
              </li> -->
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="petslist-filter-page"
                  >My Pets</a
                >
              </li>
              <li class="nav-item">
                <div class="dropdown">
                  <% for(var index = 0; index < user_account.length; index++){ %>
                    <% if(user_account[index]['id'] == user_id){ %>
                      <a class="nav-link" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><%= user_account[index]['user_first_name'] %> <%= user_account[index]['user_last_name'] %></a
                    >
                    <% } %>
                  <% } %>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton1"
                    style="margin-left: -1px"
                  >
                    
                    <li>
                      <a
                        class="dropdown-item"
                        href="account-profile-page"
                        >My Profile</a
                      >
                    </li>
                    <!-- <li>
                      <a
                        class="dropdown-item"
                        href="account-messages-page"
                        >Messages</a
                      >
                    </li> -->

                   
                    <!-- <li><a class="dropdown-item" href="account-notification-page">Notifications</a></li> -->
                    <% for(var index = 0; index < user_account.length; index++){
                    %> <% if(user_account[index]['id'] == user_id){ %> <%
                    if(user_account[index]['user_type'] == "Shelter"){ %>
                    <li>
                      <a
                        class="dropdown-item"
                        href="account-reports-page"
                        >Inventory</a
                      >
                    </li>
                    <% } %> <% } %> <% } %>
                    <li>
                      <a
                        class="dropdown-item"
                        href="/logout"
                        >Logout</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <!-- -->
        </div>
      </nav>

      <h2 style="margin-top: 30px; margin-left: 50px">List of Shelters</h2>

      <div style="margin-left: 50px; margin-top: 10px">
        <select
          class="form-select"
          aria-label="Default select example"
          id="filter_id"
          name="filter_id"
          onchange="filterShelters()"
          style="width: 190px; margin-bottom: 15px;"
        >
          <option value="All Shelters">All Shelters</option>
          <option value="Dog Shelters">Dog Shelters</option>
          <option value="Cat Shelters">Cat Shelters</option>
        </select>

        

      <div class="container" style="margin-left: -12px;">
        <!-- Display All Shelters -->
        <div
          id="all"
        >
          <div class="row">
            <% for(var index = 0; index < user_account.length; index++){ %> <%
            if(user_account[index]['user_type'] == "Shelter"){ %>
            <div class="col" style="max-width: 24%;">
              <div
                class="card"
                style="width: 300px; height: 330px; margin-bottom: 15px;"
              >
                <form
                  method="POST"
                  action="/viewprofile"
                >
                  <div
                    class="card-body"
                    style="height: 280px"
                  >
                    <h5
                      class="card-title"
                      style="font-size: 20px"
                    >
                      <%= user_account[index]['user_first_name'] %>
                    </h5>
                    <p
                      class="card-text"
                      style="font-size: 15px; margin-top: 20px"
                    >
                      Address : <%= user_account[index]['user_address'] %>
                    </p>
                    <p
                      class="card-text"
                      style="font-size: 15px; margin-top: -10px"
                    >
                      Contact : <%= user_account[index]['user_contact'] %>
                    </p>
                    <p
                      class="card-text"
                      style="font-size: 15px; margin-top: -10px"
                    >
                      Email : <%= user_account[index]['user_email'] %>
                    </p>
                    <p
                      class="card-text"
                      style="font-size: 15px; margin-top: -10px"
                    >
                      About : <%= user_account[index]['user_about'] %>
                    </p>
                  </div>
                  <div style="text-align: center; margin-top: -40px">
                    <input
                      type="text"
                      name="userid"
                      style="display: none"
                      value="<%= user_account[index].id %>"
                    />
                    <input
                      type="submit"
                      name="viewprofile"
                      class="btn btn-primary"
                      value="View Profile"
                      style="margin-top: 5ch"
                    />
                  </div>
                </form>
              </div>
            </div>

            <% } %> <% } %>
          </div>
        </div>

        <!-- Display Dog Shelter -->
        <div
          id="dogs"
          style="display: none; width: 300px; height: 330px; margin-bottom: 15px;"
        >
          <div class="row">
            <% for(var index = 0; index < user_account.length; index++){ %> <%
            if(user_account[index]['user_category'] == "Dog Shelter"){ %>
            <div class="col">
              <div
                class="card"
                style="width: 300px; height: 330px"
              >
                <form
                  method="POST"
                  action="/viewprofile"
                >
                  <div
                    class="card-body"
                    style="height: 280px"
                  >
                    <h5
                      class="card-title"
                      style="font-size: 20px"
                    >
                      <%= user_account[index]['user_first_name'] %>
                    </h5>
                    <p
                      class="card-text"
                      style="font-size: 15px; margin-top: 20px"
                    >
                      Address : <%= user_account[index]['user_address'] %>
                    </p>
                    <p
                      class="card-text"
                      style="font-size: 15px; margin-top: -10px"
                    >
                      Contact : <%= user_account[index]['user_contact'] %>
                    </p>
                    <p
                      class="card-text"
                      style="font-size: 15px; margin-top: -10px"
                    >
                      Email : <%= user_account[index]['user_email'] %>
                    </p>
                    <p
                      class="card-text"
                      style="font-size: 15px; margin-top: -10px"
                    >
                      About : <%= user_account[index]['user_about'] %>
                    </p>
                  </div>
                  <div style="text-align: center">
                    <input
                      type="text"
                      name="userid"
                      style="display: none"
                      value="<%= user_account[index].id %>"
                    />
                    <input
                      type="submit"
                      name="viewprofile"
                      class="btn btn-primary"
                      value="View Profile"
                      style="margin-top: 5ch"
                    />
                  </div>
                </form>
              </div>
            </div>
            <% } %> <% } %>
          </div>
        </div>

        <!-- Display Cat Shelters -->
        <div
          id="cats"
          style="display: none; width: 300px; height: 330px; margin-bottom: 15px;"
        >
          <div class="row">
            <% for(var index = 0; index < user_account.length; index++){ %> <%
            if(user_account[index]['user_category'] == "Cat Shelter"){ %>
            <div class="col">
              <div
                class="card"
                style="width: 300px; height: 330px"
              >
                <form
                  method="POST"
                  action="/viewprofile"
                >
                  <div
                    class="card-body"
                    style="height: 280px"
                  >
                    <h5
                      class="card-title"
                      style="font-size: 20px"
                    >
                      <%= user_account[index]['user_first_name'] %>
                    </h5>
                    <p
                      class="card-text"
                      style="font-size: 15px; margin-top: 20px"
                    >
                      Address : <%= user_account[index]['user_address'] %>
                    </p>
                    <p
                      class="card-text"
                      style="font-size: 15px; margin-top: -10px"
                    >
                      Contact : <%= user_account[index]['user_contact'] %>
                    </p>
                    <p
                      class="card-text"
                      style="font-size: 15px; margin-top: -10px"
                    >
                      Email : <%= user_account[index]['user_email'] %>
                    </p>
                    <p
                      class="card-text"
                      style="font-size: 15px; margin-top: -10px"
                    >
                      About : <%= user_account[index]['user_about'] %>
                    </p>
                  </div>
                  <div style="text-align: center">
                    <input
                      type="text"
                      name="userid"
                      style="display: none"
                      value="<%= user_account[index].id %>"
                    />
                    <input
                      type="submit"
                      name="viewprofile"
                      class="btn btn-primary"
                      value="View Profile"
                    />
                  </div>
                </form>
              </div>
            </div>
            <% } %> <% } %>
          </div>
        </div>
      </div>
      
    </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>

    <!-- Functions -->
    <script>
      function filterShelters() {
        var selectfilter = document.getElementById("filter_id").value;

        console.log(selectfilter);
        if (selectfilter == "Dog Shelters") {
          document.getElementById("dogs").style.display = "block";
          document.getElementById("cats").style.display = "none";
          document.getElementById("all").style.display = "none";
        }
        if (selectfilter == "Cat Shelters") {
          document.getElementById("cats").style.display = "block";
          document.getElementById("dogs").style.display = "none";
          document.getElementById("all").style.display = "none";
        }
        if (selectfilter == "All Shelters") {
          document.getElementById("all").style.display = "block";
          document.getElementById("dogs").style.display = "none";
          document.getElementById("cats").style.display = "none";
        }
      }
    </script>
  </body>
</html>
